@media (max-width:767px) {
    .section7 .ellipse10, .imgmeta{
        display: none;
    }
    .barra .list {
        display: none;
    }
    .section1 .text11{
        order: 1;
    }
    .section2 .text22{
        margin-top: 20%;
    }
    .section8 .redes img{
        margin-top: 8%;
    }
    .section1 .text11{
        text-align: center;
    }
    .section1 .text11 .displayflex{
        display: none;
    }
    .barra .barras{
        display: block;
    }
}

@media (max-width:349.98px){
    .section1 .text11 h1{
        font-size: 25px;
    }
     .section1 .text11 p{
        font-size: 16px;
    }
    .section1 {
        padding: 0% 8%;
    }
    .section1 .text11{
        text-align: center;
    }
    .section2 {
        padding: 0 8%;
    }
    .section2 .text22 h2{
        font-size: 24px;
    }
    .section2 .text22 p{
        font-size: 16px;
    }
    .section3 {
        padding: 0 8%;
    }
    .section3 h2, .section6 h2{
        font-size: 24px;
    }
    .section3 p{
        font-size: 16px;
    }
    .section4 {
        padding: 0 8%;
    }
    .section5 {
        padding: 0 8%;
    }
    .section6 {
        padding: 0 8%;
    }
    .section6 p{
        font-size: 16px;
    }
    .section7 {
        padding: 0 8%;
    }
    .section8 {
        padding: 0 8%;
    }
}
       
@media (min-width:350px) and (max-width:449.98px){
    .section1 .text11 h1{
        font-size: 25px;
    }
     .section1 .text11 p{
        font-size: 16px;
    }
    .section1 {
        padding: 0% 8%;
    }
    .section1 .text11{
        text-align: center;
    }
    .section2 {
        padding: 0 8%;
    }
    .section2 .text22 h2{
        font-size: 24px;
    }
    .section2 .text22 p{
        font-size: 16px;
    }
    .section3 {
        padding: 0 8%;
    }
    .section3 h2, .section6 h2{
        font-size: 24px;
    }
    .section3 p{
        font-size: 16px;
    }
    .section4 {
        padding: 0 8%;
    }
    .section5 {
        padding: 0 8%;
    }
    .section6 {
        padding: 0 8%;
    }
    .section6 p{
        font-size: 16px;
    }
    .section7 {
        padding: 0 8%;
    }
    .section8 {
        padding: 0 8%;
    }
}
@media (min-width:576px) and (max-width:767.98px){
    .section1 .text11 h1{
        font-size: 24px;
    }
     .section1 .text11 p{
        font-size: 16px;
    }
    .section1 {
        padding: 0% 8%;
    }
    .section1 .text11{
        text-align: center;
    }
    .section2 {
        padding: 0 8%;
    }
    .section2 .text22 h2{
        font-size: 24px;
    }
    .section2 .text22 p{
        font-size: 16px;
    }
    .section3 {
        padding: 0 8%;
    }
    .section3 h2, .section6 h2{
        font-size: 24px;
    }
    .section3 p{
        font-size: 16px;
    }
    .section4 {
        padding: 0 8%;
    }
    .section5 {
        padding: 0 8%;
    }
    .section6 {
        padding: 0 8%;
    }
    .section6 p{
        font-size: 16px;
    }
    .section7 {
        padding: 0 8%;
    }
    .section8 {
        padding: 0 8%;
    }
}

@media (min-width:768px) and (max-width:991.98px){
    .section1 .text11 h1{
        font-size: 24px;
    }
     .section1 .text11 p{
        font-size: 16px;
    }
    .section1 {
        padding: 0% 8%;
    }
    .section1 .text11{
        text-align: center;
    }
    .section2 {
        padding: 0 8%;
    }
    .section2 .text22 h2{
        font-size: 24px;
    }
    .section2 .text22 p{
        font-size: 16px;
    }
    .section3 {
        padding: 0 8%;
    }
    .section3 h2, .section6 h2{
        font-size: 24px;
    }
    .section3 p{
        font-size: 16px;
    }
    .section4 {
        padding: 0 8%;
    }
    .section5 {
        padding: 0 8%;
    }
    .section6 {
        padding: 0 8%;
    }
    .section6 p{
        font-size: 16px;
    }
    .section7 {
        padding: 0 8%;
    }
    .section8 {
        padding: 0 8%;
        gap: 5%;
    }
}
